h2.blog-title ABOUT ME
p 我是李戈，92年生，现在从事软件互联网开发工作，工作时间不到半年。
p 现工作在北京，毕业于西安电子科技大学通信工程专业。
p 软件的技术栈方向主要是ruby，rails以及基于titanium的手机移动端开发。

h4 更多链接
ul
  li
    a href="https://github.com/lglove" target="_blank" Github
